@import "../utils/variables";

%header-and-footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $black-color;
    padding: 1em;
    text-align: center;
    color: $white-color;
}

%input-type {
    display: inline-block;
    margin: 8px 0;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
}
