language: python
python:
  - "3.5"
services: mysql
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - python manage.py test google_maps
  - coverage run --source=django_app manage.py test
before script:
  - mysql -e 'create database mysite_db;'
  - mysql -e 'GRANT ALL PRIVILEGES ON test_mysite_db.* TO 'boris'@'localhost';'
after_success: coveralls
