language: python
python:
  - "3.5"
services: mysql
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - python manage.py test
  - coverage run --source='.'  manage.py test
  - pylint --load-plugins pylint_django accounts
before script:
  - mysql -e 'create database travis_ci_db;'
after_success: coveralls
