language: python
python:
  - "3.5"
services: mysql
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - python manage.py test
  - coverage run --source='.'  manage.py test
  - coverage report
  - pylint --load-plugins pylint_django google_maps --disable=R --disable=W --disable=C
  - pylint --load-plugins pylint_django accounts --disable=R --disable=W --disable=C
before script:
  - mysql -e 'create database travis_ci_db;'
after_success: coveralls
