{% extends "accounts/base.html" %}

{% block stylesheets %}
  {% load static %}

{% endblock %}

{% block javascript %}
  {% load static %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY2kqCa1Yk3_9xOICSwiX24W1avKFpvn0&libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'google_maps/js/google_maps_autocomplete.js' %}"></script>
  <script type="text/javascript" src="{% static 'google_maps/js/welcome.js' %}"></script>
  <script type="text/javascript" src="{% static 'google_maps/js/token.js' %}"></script>

{% endblock %}

{% block content %}
  <p id="logout_link"><a href="{% url 'accounts:logout' %}">LOGOUT</a><p>

  <div class="searchbox">
    <label>Search Country</label>
    <input id="locationTextField" type="text" size="50">
    <button id="searchButton" type="button">Search</button>
    <select>
      <option value="place">Place mode</option>
      <option value="search">Search mode</option>
    </select>
  </div>

  <iframe
    width="600" height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDY2kqCa1Yk3_9xOICSwiX24W1avKFpvn0&q={{ place }}" allowfullscreen>
  </iframe>

  <div class="textarea">
    <textarea title="textarea" rows="5" cols="80" id="x13" name="mytextarea">Generate my code here</textarea>
    <button id="genButton" class="textareaButton" type="button">Generate code</button>
    <button id = "copyButton" class="textareaButton" type="button">Copy to clipboard</button>
    <a href="{% url 'google_maps:locations_list' %}"><button id="savelocations">Save Location</button></a>
  </div>
  <p class="nav-button"><a href = "{% url 'google_maps:locations_list' %}">Saved locations<a></p>

  <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <p id="popup-message"></p>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>
{% endblock %}
