<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'accounts/sass/main.css' %}"/>

  {% block stylesheets %}{% endblock stylesheets %}
  {% block javascript %}{% endblock javascript %}

  <meta charset="UTF-8">

  {% block title %}<title>Google maps API</title>{% endblock title %}
</head>

<body>
  <header>Google maps app - Welcome {{ user.username }}</header>

  {% block content %}{% endblock content %}
  
  <div class="clear"></div>

  <footer>Copyright &copy; Boris Besker</footer>
</body>

</html>
